body{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto;
    margin: 1px;
    /* background-color: blueviolet; */
    grid-template-areas: 
        ".header .header .header .header .header .header .header .header .header .header .header .header"
        ".navi .navi .main .main .main .main .main .main .main .main .main .main";
    font-family: 'Roboto', sans-serif;
    font-size: small;
    /* overflow: hidden; */
    }


/* HEADER PART */
.header{
    grid-area: header;
    grid-column: 1/-1;
    grid-row: 1/span 1;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    /* grid-template-areas: 
        ".Hcare .search .search .search .search .search .search .profile .profile"; */
    width: auto;
    justify-items: center;
    /* border: 1px solid black; */

}
.Hcare{
    /* grid-area: Hcare; */
    grid-column: 1/3;
    display: flex;
    font-weight: bold;
    border-bottom-left-radius: 1px solid whitesmoke;
    color: #a1a8b8;
    align-items: center;
}
.search{
    grid-column: 3/11;
    display: flex;
    place-self: center stretch;
    border-left: 1px solid whitesmoke;
    padding-left: 20px;
}
.search img{
    width: 20px;
    height: 20px;
    cursor: text;
}
input{
    border: none;
    color: #a1a8b8;
    font-weight: 600;
    width: 100%;
    padding-left: 5px;
}
input:focus {
    outline: none;
}
.profile{
    grid-column: 11/-1;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 14px;
    align-items: center;
    color: #a1a8b8;
}
.profile p{
    cursor: pointer;
    white-space: nowrap;
}
.notif{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.pp{
    width: 32px;
    cursor: pointer;
}
img{
    width: 40px;
}
.down-arrow{
    display: inline-block;
    transform: rotate(90deg);
    color: #c4c4ca;
}
.profile-nameNdrop{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 120px;
    opacity: 1;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.profile-nameNdrop:hover .dropdown-content{
    display: block;
    
}
/* NAVI PART */
.navi{
    background-color: blue;
    grid-area: navi;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #ffffff;

}
.logo-nav{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
}
.nav{
    margin-bottom: 10px;
}
.btn{
    width: 80%;
    height: 53px;
    margin: 30px;
    margin-top: 20px;
    background-color: blueviolet;
    border-radius: 10px;
    cursor: pointer;
    color: whitesmoke;
    font-weight: 550;
}
.btn:hover{
    box-shadow: 0px 0px 15px 0px blueviolet;
}
.nav img,.sett img{
    width: 20px;
    height: 20px;
    /* border: 1px solid white; */
    /* padding: 5px; */
    border-radius: 100%;
    padding-right: 15px;
}
.patients,.overview,.map,.dept,.doct,.history,.sett{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-left: 50px ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #a4a7b6;
}
.patients:hover,.overview:hover,.map:hover,.dept:hover,.doct:hover,.history:hover,.sett:hover{
    box-shadow: 0px 0px 10px 0px lightgrey;
    color: black;
}
.setting{
    display: flex;
    flex-direction: column;
    /* padding-top: 15px; */
    background-color: #fefefe;
}
.temp{
   
} 
.download{
    display: flex;
    flex-direction: column;
    width: 162px;
    height: 215px;
    justify-items: center;
    align-items: center;
    border-radius: 12px;
    background-color: #eeeaf9;
    box-shadow: 1px 1px 0px 6px #eeeaf9;
}
.download p{
    font-weight: bold;
}
.dimage{
    width: 100%;
    border-bottom: 1px solid #f5effd;
    margin-left: 20px;
    margin-right: auto;
}
.scope{
    height: 90px;
    width: 118px;
    border-radius: 10px;
}
.app-icons{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}
.app-img{
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 0px 0px 1px 3px white;
    cursor: pointer;
}
.app-icons img{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
/* MAIN PART */
.main{
    background-color: #F5F6FA;
    grid-area: main;
    grid-column: 3/-1;
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: minmax(min-content, max-content);
    gap: 20px;
    padding: 20px;
}
.tpatient{
    background-color: #ffffff;
    grid-column: 1/2;
}
.tpatient img{
    background-color: #F2EBFB;
}
.ava-staff{
    background-color: #ffffff;
    grid-column: 2/3;
}
.cost{
    background-color: #ffffff;
    grid-column: 3/4;
    
}
.ava-car{
    background-color: #ffffff;
    grid-column: 4/-1;
}
.tpatient,.cost,.ava-car,.ava-staff{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-items: center;
    height: 100px;
    border-radius: 9px;
    box-shadow: 0px 1px 1px 1px #edeef0;
}
.pat-img, .staff-img, .wallet-img, .ambulance-img{
    /* border: 1px solid black; */
    border-radius: 100%;
    padding: 12px;
    /* width: 24px; */
    /* height: 24px */
}
.staff-img{
    background-color: #eef9fd;
    box-shadow: 0px 0px 1px 4px #eef9fd;
}
.wallet-img{
    background-color: #fff1ed;
    box-shadow: 0px 0px 1px 4px #fff1ed;
    /* width: 24px;  */
}
.pat-img{
    background-color: #f2ecf9;
    box-shadow: 0px 0px 1px 4px #f2ecf9;
}
.ambulance-img{
    background-color: #ffeff2;
    box-shadow: 0px 0px 1px 4px #ffeff2;
}
.tpatient p,.cost p,.ava-car p,.ava-staff p{
    margin: 0px;
}
.count{
    font-weight: bolder;
    font-size: 1.6em;
}
.word-descp{
    color: #a4a7b6;
}
.more-btn{
    background-color: white;
    font-size: 1.6em;
    margin-bottom: 77px;
    margin-right: 11px;
    cursor: pointer;
}
.chart{
    background-color: #ffffff;
    grid-column: 1/4;
    border-radius: 9px;
    /* height: 237px; */
    box-shadow: 0px 1px 1px 1px #edeef0;
}
.gender{
    background-color: #ffffff;
    grid-column: 4/-1;
    border-radius: 9px;
    box-shadow: 0px 1px 1px 1px #edeef0;
}
.time{
    background-color: #ffffff;
    grid-column: 1/3;
    border-radius: 9px;
    box-shadow: 0px 1px 1px 1px #edeef0;
}
.division{
    background-color: #ffffff;
    grid-column: 3/4;
    /* padding-bottom: 10px; */
    border-radius: 9px;
    box-shadow: 0px 1px 1px 1px #edeef0;
}
.month{
    background-color: #ffffff;
    grid-column: 4/-1;
    border-radius: 9px;
    box-shadow: 0px 1px 1px 1px #edeef0;
}
.chartHeader,.time-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #a1a8b8;
    margin-bottom: 10px;
}
.vs{
    padding-left: 30px;
    font-weight: bolder;
    margin-bottom: 9px;
}
.arrange{
    padding-right: 30px;
    cursor: pointer;
    font-weight: bold;
}
.sort{
    font-weight: bold;
    color: #a4a7b6;
}
.sort1{
    font-weight: bold;
    color: black;
}
.canvasPart{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    /* height: 180px; */
    border-style: none;
    justify-items: center;
    gap: 20px;
}
.canvasPart div{
    border-style: none;
}
.canvas1{
    width: 100%;
    /* height: object; */
    /* background-color: wheat; */
}
.canvas2{
    width: 100%;
    /* height: 100%; */
    /* background-color: tomato; */
}
.canvas3{
    width: 100%;
    /* height: 100%; */
    /* background-color: wheat; */
}
.canvas4{
    width: 100%;
    /* height: 200px; */
    /* background-color: tomato; */
}
.canvas5{
    width: 100%;
    /* height: 100%; */
    /* background-color: wheat; */
}
#b-chart{
    width: 100%;
    /* margin-left: 10px; */
    /* width: 70%;
    height: 255px; */
}
#p-chart{
    /* border: 1px solid #a1a8b8; */
    width: 100%;
    /* height: 255px; */
}
#l-chart{
    /* border: 1px solid #a1a8b8; */
    width: 100%;
}
#gen-chart{
    width: 100%;
}

.gen-header{
    text-align: center;
    border-bottom: 1px solid #a1a8b8;
    font-weight: 600;
    white-space: nowrap;
}
.gen-header h3{
    margin-bottom: 9px;
}
.dni,.dnis{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.dnis{
    margin-right: 20px;
}
.division-head{
    display: grid;
    grid-template-columns: auto auto;
    border-bottom: 1px solid #a1a8b8;   
}
.head{
    /* padding-bottom: 15px; */
    /* padding-right: 40px; */
    cursor: pointer;
    text-align: center;
    margin-bottom: 9px;
    /* border-bottom: 1px solid #a1a8b8; */
    font-weight: 600;
    white-space: nowrap;
}
.head .down-arrow{
    padding-left: 4px;
}
.arrow-down-p{
    justify-self: center;
}
.dDetails{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    padding: 3.5px;
}
.dDetails:hover{
    box-shadow: 0px 1px 3px 0px #a1a5b7;
}
.dname{
    /* margin-right: 10px; */
    color: #c4c4ca;
}
.division img{
    width: 24px;
    height: 24px;
    align-self: center;
}
.month{
    background-image: linear-gradient(to right, #713bdb 60% , #642ad6 40%);
}
.month div{
    color: white;
    /* padding-top: 20px; */
}
.month p{
    font-size: small;
    padding-left: 30px;
}
.p-count{
    font-weight: 600;
    font-size: x-large;
}
#t-graph{
    /* border: 1px solid black; */
    /* margin-top: 20px; */
    padding-top: 20px;
    border-radius: 10px;
    /* height: auto; */
    width: 100%;
    background-image: linear-gradient(to right, #713bdb 60% , #642ad6 40%);
}
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
   
    
} */



/* Medium devices (landscape tablets, 768px and up, apply if width is less than 992px) */
@media only screen and (max-width: 992px) {
    body{
        overflow: auto;
    }
    .header{
        grid-area: header;
        grid-column: 1/-1;
        grid-row: 1/span 1;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        /* grid-template-areas: 
            ".Hcare .search .search .search .search .search .search .profile .profile"; */
        width: 100%;
        justify-items: center;
        /* border: 1px solid black; */
        position: fixed;
        background-color: white;
    }
    .Hcare{
        /* grid-area: Hcare; */
        grid-column: 1/4;
        display: flex;
        font-weight: bold;
        border-bottom-left-radius: 1px solid whitesmoke;
        color: #a1a8b8;
        align-items: center;
    }
    .search{
        grid-column: 4/10;
        display: flex;
        place-self: center stretch;
        border-left: 1px solid whitesmoke;
        padding-left: 20px;
    }
    .profile{
        grid-column: 10/-1;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 14px;
        align-items: center;
        color: #a1a8b8;
    }
    .navi{
        /* background-color: blue; */
        grid-area: navi;
        grid-column: 1/4;
        background-color: #ffffff;
        margin-top: 40px;
        position: fixed;
        /* display:  grid; */
    }
    .btn{
        width: 80%;
        height: 53px;
        margin: 17px;
        margin-top: 20px;
        background-color: blueviolet;
        border-radius: 10px;
        cursor: pointer;
        color: whitesmoke;
        font-weight: 550;
        padding: 0px 10px;
    }
    .patients,.overview,.map,.dept,.doct,.history,.sett{
        display: grid;
        grid-template-columns: auto 1fr;
        padding-left: 40px ;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #a4a7b6;
    }
    .download{
        display: flex;
        flex-direction: column;
        width: 137px;
        height: 200px;
        align-self: center;
        justify-items: center;
        align-items: center;
        border-radius: 12px;
        background-color: #eeeaf9;
        box-shadow: 1px 1px 0px 6px #eeeaf9;
        text-align: center;
        margin-top: 10px;
    }
    .dimage {
        width: 100%;
        border-bottom: 1px solid #f5effd;
        margin-left: 0px;
        /* margin-right: auto; */
    }
    .app-icons img {
        width: 17px;
        height: 17px;
        cursor: pointer;
    }
    .main{
        background-color: #F5F6FA;
        grid-area: main;
        grid-column: 4/-1;
        grid-auto-flow: row dense;
        
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: minmax(min-content, max-content);
        gap: 20px;
        padding: 20px;
        /* overflow-y: visible; */
        margin-top: 44px;
    }
    .tpatient{
        background-color: #ffffff;
        grid-column: 1/2;
    }
    .tpatient img{
        background-color: #F2EBFB;
    }
    .ava-staff{
        background-color: #ffffff;
        grid-column: 2/-1;
    }
    .cost{
        background-color: #ffffff;
        grid-column: 1/2;
        
    }
    .ava-car{
        background-color: #ffffff;
        grid-column: 2/-1;
    }
    .tpatient,.cost,.ava-car,.ava-staff{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-items: center;
        height: 100px;
        border-radius: 9px;
        box-shadow: 0px 1px 1px 1px #edeef0;
    }
    .pat-img, .staff-img, .wallet-img, .ambulance-img{
        /* border: 1px solid black; */
        border-radius: 100%;
        padding: 5px;
        /* width: 24px; */
        /* height: 24px */
    }
    .staff-img{
        background-color: #eef9fd;
        box-shadow: 0px 0px 1px 4px #eef9fd;
    }
    .wallet-img{
        background-color: #fff1ed;
        box-shadow: 0px 0px 1px 4px #fff1ed;
        /* width: 24px;  */
    }
    .pat-img{
        background-color: #f2ecf9;
        box-shadow: 0px 0px 1px 4px #f2ecf9;
    }
    .ambulance-img{
        background-color: #ffeff2;
        box-shadow: 0px 0px 1px 4px #ffeff2;
    }
    .tpatient p,.cost p,.ava-car p,.ava-staff p{
        margin: 0px;
    }
    .tpatient img,.cost img,.ava-car img,.ava-staff img{
        width: 25px;
    }
    .count{
        font-weight: bolder;
        font-size: 1.6em;
    }
    .word-descp{
        color: #a4a7b6;
    }
    .more-btn{
        background-color: white;
        font-size: 1.6em;
        margin-bottom: 77px;
        margin-right: 11px;
        cursor: pointer;
    }
    .chart{
        background-color: #ffffff;
        grid-column: 1/-1;
        border-radius: 9px;
        /* height: 237px; */
        box-shadow: 0px 1px 1px 1px #edeef0;
    }
    .gender{
        background-color: #ffffff;
        grid-column: 1/2;
        border-radius: 9px;
        box-shadow: 0px 1px 1px 1px #edeef0;
    }
    .time{
        background-color: #ffffff;
        grid-column: 1/-1;
        border-radius: 9px;
        box-shadow: 0px 1px 1px 1px #edeef0;
    }
    .division{
        background-color: #ffffff;
        grid-column: 1/2;
        padding-bottom: 10px;
        border-radius: 9px;
        box-shadow: 0px 1px 1px 1px #edeef0;
    }
    .month{
        background-color: #ffffff;
        grid-column: 2/-1;
        border-radius: 9px;
        box-shadow: 0px 1px 1px 1px #edeef0;
    }
    .chartHeader,.time-header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #a1a8b8;
        margin-bottom: 10px;
    }
    .vs{
        padding-left: 30px;
        font-weight: bolder;
        margin-bottom: 9px;
    }
    .arrange{
        padding-right: 30px;
        cursor: pointer;
        font-weight: bold;
    }
    .sort{
        font-weight: bold;
        color: #a4a7b6;
    }
    .sort1{
        font-weight: bold;
        color: black;
    }
    .canvasPart{
        display: grid;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        /* height: 180px; */
        border-style: none;
        justify-items: center;
        gap: 20px;
    }
    .canvasPart div{
        border-style: none;
    }
    .canvas1{
        width: 100%;
        /* height: object; */
        /* background-color: wheat; */
    }
    .canvas2{
        width: 100%;
        /* height: 100%; */
        /* background-color: tomato; */
    }
    .canvas3{
        width: 100%;
        /* height: 100%; */
        /* background-color: wheat; */
    }
    .canvas4{
        width: 100%;
        /* height: 200px; */
        /* background-color: tomato; */
    }
    .canvas5{
        width: 100%;
        /* height: 100%; */
        /* background-color: wheat; */
    }
    #b-chart{
        width: 100%;
        
        /* margin-left: 10px; */
        /* width: 70%;
        height: 255px; */
    }
    #p-chart{
        /* border: 1px solid #a1a8b8; */
        width: 100%;
        /* height: 255px; */
    }
    #l-chart{
        /* border: 1px solid #a1a8b8; */
        width: 100%;
    }
    #gen-chart{
        width: 100%;
    }
    
    .gen-header{
        text-align: center;
        border-bottom: 1px solid #a1a8b8;
        font-weight: 600;
        white-space: nowrap;
    }
    .gen-header h3{
        margin-bottom: 9px;
    }
    .dni,.dnis{
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .dnis{
        margin-right: 20px;
    }
    .division-head{
        display: grid;
        grid-template-columns: auto auto;
        border-bottom: 1px solid #a1a8b8;   
    }
    .head{
        /* padding-bottom: 15px; */
        /* padding-right: 40px; */
        cursor: pointer;
        text-align: center;
        margin-bottom: 9px;
        /* border-bottom: 1px solid #a1a8b8; */
        font-weight: 600;
        white-space: nowrap;
    }
    .head .down-arrow{
        padding-left: 4px;
    }
    .arrow-down-p{
        justify-self: center;
    }
    .dDetails{
        display: grid;
        grid-template-columns: auto auto;
        justify-items: center;
        padding: 3.5px;
    }
    .dDetails:hover{
        box-shadow: 0px 1px 3px 0px #a1a5b7;
    }
    .dname{
        /* margin-right: 10px; */
        color: #c4c4ca;
    }
    .division img{
        width: 24px;
        height: 24px;
        align-self: center;
    }
    .month{
        background-image: linear-gradient(to right, #713bdb 60% , #642ad6 40%);
    }
    .month div{
        color: white;
        /* padding-top: 20px; */
    }
    .month p{
        font-size: small;
        padding-left: 30px;
    }
    .p-count{
        font-weight: 600;
        font-size: x-large;
    }
    #t-graph{
        /* border: 1px solid black; */
        /* margin-top: 20px; */
        padding-top: 20px;
        border-radius: 10px;
        /* height: auto; */
        width: 100%;
        background-image: linear-gradient(to right, #713bdb 60% , #642ad6 40%);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) {
    .header{

    }
    .Hcare{
        grid-column: 1/5;
    }
    .search{
        grid-column: 5/-1;
    }
    .navi{
        display: none;
        /* background-color: blue; */
    }
    .main{
        grid-area: main;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        padding: 0px;
        row-gap: 15px;
        column-gap: 0px;
        padding: 20px;
    }
    .profile{
        display: none;
    }
    .tpatient{
        grid-column: 1/-1;
    }
    .ava-staff{
        grid-column: 1/-1;
    }
    .cost{
        grid-column: 1/-1;
    }
    .ava-car{
        grid-column: 1/-1;
    }
    .chart{
        grid-column: 1/-1;
    }
    .gender{
        grid-column: 1/-1;
    }
    .time-header{
        grid-column: 1/-1;
    }
    .division{
        grid-column: 1/-1;
    }
    .month{
        grid-column: 1/-1;
    }
    .canvasPart{
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        /* height: 180px; */
        border-style: none;
        justify-items: center;
        gap: 20px;
    }
    .vs{
        padding-left: 10px;
    }
    .arrange{
        padding-right: 10px;
        margin-top: 17px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .search{
        grid-column: 3/10;
        display: flex;
        place-self: center stretch;
        border-left: 1px solid whitesmoke;
        padding-left: 20px;
    }
    .profile{
        grid-column: 10/-1;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 14px;
        align-items: center;
        color: #a1a8b8;
    }
    .btn{
        width: 80%;
        height: 53px;
        /* margin: 30px; */
        margin-top: 27px;
        margin-left: 18px;
        margin-bottom: 22px;
        background-color: blueviolet;
        border-radius: 10px;
        cursor: pointer;
    }
    .patients,.overview,.map,.dept,.doct,.history,.sett{
        display: grid;
        grid-template-columns: auto 1fr;
        padding-left: 24px ;
        justify-content: center;
        align-items: center;
    }
    .download{
        display: flex;
        flex-direction: column;
        width: 121px;
        height: 217px;
        justify-items: center;
        align-items: center;
        border-radius: 12px;
        font-weight: 600;
        margin-left: 20px;
        margin-top: 25px;
        background-color: #f5effd;
        margin-bottom: 20px;
        box-shadow: 0px 0px 2px 1px #e6e6ee;
        white-space: nowrap;
    }
    .scope{
        height: 90px;
        width: 86px;
        border-radius: 10px;
    }
    .tpatient img,.cost img,.ava-car img,.ava-staff img{
        width: 10px;
    }
    .head{
        /* padding-bottom: 15px;
        padding-right: 0px; */
        text-align: center;
    }
}

/* extra Large devices (laptop/desktops, 1200 and up) */
@media only screen and (min-width: 1200px){
    .patients,.overview,.map,.dept,.doct,.history,.sett{
        display: grid;
        grid-template-columns: auto 1fr;
        padding-left: 50px ;
        justify-content: center;
        align-items: center;
    }
    .download{
        display: flex;
        flex-direction: column;
        width: 185px;
        height: 225px;
        justify-items: center;
        align-items: center;
        border-radius: 12px;
        font-weight: 600;
        margin-left: 28px;
        margin-top: 25px;
        background-color: #f5effd;
        margin-bottom: 20px;
        box-shadow: 0px 0px 2px 1px #e6e6ee;
    }
    .scope{
        height: 90px;
        width: 118px;
        border-radius: 10px;
        margin-left: 12px;
    }
    .tpatient img,.cost img,.ava-car img,.ava-staff img{
        width: 30px;
    }
    .head{
    /* padding-bottom: 15px; */
    /* padding-right: 40px; */
    }
}