.download{
    display: flex;
    flex-direction: column;
    width: 162px;
    height: 215px;
    justify-items: center;
    align-items: center;
    border-radius: 12px;
    background-color: #eeeaf9;
    box-shadow: 1px 1px 0px 6px #eeeaf9;
}
.download p{
    font-weight: bold;
}
.dimage{
    width: 100%;
    border-bottom: 1px solid #f5effd;
    margin-left: 20px;
    margin-right: auto;
}
.scope{
    height: 90px;
    width: 118px;
    border-radius: 10px;
}
.app-icons{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}
.app-img{
    padding: 10px;
    background-color: white;
    border: 1px solid white;
    border-radius: 100%;
    box-shadow: 0px 0px 1px 3px white;
}
.app-icons img{
    width: 24px;
    height: 24px;
}