*{
    box-sizing: border-box;
}

body {
    background-color: #f7fcfc;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
}
.bleachImg{
    position: absolute;
    width: 431px;
    top: 172px;
    right: 150px;
    /* left: 890px; */
    /* left: 22cm; */
}
img{
    width: 100px;
}
.header-part{
    width: 100%;
    display: flex;
    /* grid-template-columns: auto 450px; */
}
.itemBox{
    margin-left: 77px;
    width: 65%;
    height: 950px;
    position: relative;
}
.logo-nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: space-between;
    padding-top: 40px;
    /* align-self: center; */
}
.logo, .flogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    /* padding-left: 105px; */
}

.navi{
   display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    /* gap: 75px; */
    /* padding-right: 65px; */
   /* flex-direction: row; */
    white-space: nowrap;
    /* position: absolute; */
    /* left: 522px; */
}
.navi a{
    text-decoration: none;
    /* padding-right: 60px; */
    padding-top: 30px;
    color: black;
    cursor: pointer;
}

.btnfsin{
    background-color: #1d085e;
    width: 35%;
    /* padding: 20px; */
    padding-top: 51px;
    display: flex;
    justify-content: space-around;
}
.items{
    /* margin-left: 10px;; */
    margin-top: 100px;
    /* padding-left: 107px; */
}
.para{
    padding-top: 1.5cm;
    margin: 0%;
}
.para p{
    margin: 0%;
    padding-bottom: 7px;
}
h1{
    font-size: 4em;
    margin: 0%;
    margin-bottom: 10px;
}
.psep{
    margin-top: 100px;
}
.psep p{
    margin-top: 10px;
    color: #d4d4d4;
}
.findh{
    margin-top: 30px;
    background-color: #ff6524;
    border: none;
    border-radius: 35px;
    text-align: center;
    padding: 23px 40px;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}
button{
    /* border: none;
    border-radius: 35px;
    text-align: center;
    padding: 23px 45px;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem; */
}
.sinup:hover,.sinin:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.sinup{
    /* margin-left: 30px; */
}
/* .sinin:hover{
    background-color: white;
    color: black;
} */
.sinup, .sinin{
    width: 120px;
    border: 2px solid whitesmoke;
    border-radius: 40px;
    text-align: center;
    /* padding: 15px 40px; */
    background-color: #1d085e;
    color: white;
    font-weight: bolder;
    /* min-width: 140px; */
    max-height: 51px;
    cursor: pointer;
    
}
/* HEADER ENDS */
/* 2ND PART */
.secondPart{
    margin-top: 4.5cm;
    text-align: center;
}
h2, .sec, .explore{
    text-align: center;
}
h2{
    font-size: 2.2rem;
}
.secondPart{
    font-size: 1.2rem;
}
.sec-card{
    display: grid;
    grid-template-columns: repeat(3,322px);
    justify-content: center;
    /* margin-right: 80px;
    margin-left: 80px; */
    gap: 10px;
    margin-top: 2.5cm;
    /* padding-right: 160px; */
    /* padding-left: 160px; */
}
.profile{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.card h3{
    text-align: start;
    padding-left: 30px;
}
.card p{
    line-height: 1.6;
    font-size: 1rem;
    font-weight: lighter;
    text-align: start;
}
.card{
    /* height: 6.5cm; */
    border: 1px solid whitesmoke;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 2px 3px 16px 2px whitesmoke;
    /* max-height: 245px; */
    /* min-width: 390px; */
}
.explore{
    margin-top: 2cm;
    font-weight: bold;
    box-shadow: whitesmoke;
}
.explore a {
    text-decoration: none;
    color: black;
}
/* 2ND PART ENDS */
/* 3RD PART STARTS */
.third{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 4cm;
    /* padding-left: 175px; */
}
.btnC{
    border: none;
    background-color: dimgrey;
    border-radius: 10px;
    padding: 5px;
    width: 1.5cm;
    background-color: blue;
    cursor: pointer;
}
.btnD{
    border: none;
    border-radius: 100%;
    padding: 5px;
    background-color: blue;
    cursor: pointer;
}
.chooseH{
    /* width: 11cm; */
    place-self: end;
    align-self: start;

}
.chooseH h2{
    text-align: start;
}
.chooseH p{
    line-height: 1.6;
}
.btnH{
    margin-top: 30px;
    background-color: #ff6524;
    border: none;
    border-radius: 35px;
    text-align: center;
    /* padding: 23px 45px; */
    color: white;
    font-weight: bolder;
    /* font-size: 1.3rem; */
    white-space: nowrap;
    width: 193px;
    height: 60px;
    cursor: pointer;
}
.btnH:hover{
    cursor: pointer;
}
.hobiteam{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

}
.addHobby{
    margin-left: 185px;
    margin-right: 200px;
}
.limages{
    display: grid;
    grid-template-columns: auto auto;
}
.second-image{
    display: flex;
    flex-direction: column;
    /* margin-right: 160px; */
    /* padding-right: 170px; */
}
.img1{
    width: 220px;
    height: 400px;
    border-radius: 10px;
}
.img2, .addBtn{
    width: 240px;
    height: 188px;
    border-radius: 10px;
}
.img3{
    margin-top: 0.5cm;
   
}
.addBtn{
    padding: 15px 30px 10px;
    width: 236px;
    border: 2px dashed silver;
    border-radius: 20px;
    background-color: whitesmoke;
}
.addBtn p{
    color: silver;
    font-size: initial;
}
.img4{
   width: 475px;
   height: 110px;
   border-radius: 10px;
   margin-top: 5px;
}

.fourthPart{
    
    /* margin: 50px 160px 140px; */
    margin-left: 39px;
    /* padding-top: 55px; */
    /* padding-bottom: 55px; */
    margin-right: 160px;
    margin-bottom: 130px;
    margin-top: 50px;
    width: fit-content;
}
.four{
    display: grid;
    grid-template-columns: 50px 877px 50px; 
    border: 1px solid whitesmoke;
    justify-content: center;
    justify-items: center;
    background-color: #f7f9fb;
    padding-top: 30px;
    padding-bottom: 30px;
    /* margin-left: 140px;
    margin-right: 128px; */
}
.btnL{
    border: none;
    font-size: 2rem;
    color: blue;
    background-color: #f7f9fb;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    /* padding-left: 212px; */
}
.inCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* flex-direction: row; */
    /* margin-left: 80px; */
}
.inCard img{
    width: 250px;
    height: 159px;
    /* margin-right: 1cm; */
    border-radius: 27px;
}
.btnR{
    border: none;
    font-size: 2rem;
    color: blue;
    background-color: #f7f9fb;
    font-weight: bolder;
    font-size: 2rem;
    padding-left: 0%;
    cursor: pointer;
    /* padding-right: 94px; */
}
.btnL,.btnR:hover{
    cursor: pointer;
}
.fiveSect{
    background-color: #464CDF;
    /* padding: 150px; */
    width: 100%;
    padding-top: 55px;
    padding-left: 165px;
    padding-bottom: 105px;
    /* max-height: 800px; */
    box-sizing: border-box; 
    position: relative; 
}
.fiveSect h2{
    text-align: start;
    margin-bottom: 1.3cm;
    color: white;
    white-space: nowrap;
}
.fifth{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-content: center;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 254px;
    height: 343px;
    margin-top: 50px;
    padding-top: 67px;
    padding-bottom: 38px;
    position: relative;
    /* min-width: 1113px; */
}
.fifth img{
    width: 48%;
    height: 343px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 30px;
}
.abimg{
    /* padding-left: 15cm;
    padding-right: 2cm;
    padding-bottom: 40px; */
}
.abimg h2{
    margin: 0px;
    font-size: 3em;
    /* padding-top: 40px; */
    color: #8e95e8;
}
.abimg p{
    color: #e2e4f9;
    line-height: 1.8;
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 29px;
}
/* PART 6 */
.six{
    /* padding: 3cm 4cm 3cm; */
    position: relative;
    background-color: #ffffff;
    margin-top: 152px;
    margin-left: 160px;
    margin-right: 160px;
}
.six h2{
    text-align: left;
    white-space: nowrap;
}
.six p {
    white-space: nowrap;
    line-height: 1.6;
}
.ru-box {
    padding-top: 60px;
}

.recent-bike {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.recent-card {
    /* height: 372px; */
    text-align: center;	
    width: 100%;
    box-shadow: 3px 3px 32px 15px whitesmoke;
}

.recent-bike-img {
    width: 100%;
    height:150px;
    object-fit: scale-down;
}
.Idetails{
    text-align: start;
    padding-left: 20px;
}
.Idetails p {
    white-space: normal;
}
.exploreH{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 115px;

}
.exploreH a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;        
}

.seven{
    display: grid;
    grid-template-columns: 10cm auto;
    /* padding: 1cm 4cm 3cm; */
    padding-bottom: 0px;
    padding-left: 150px;
    background-color: #f5faff;
    position: relative;
    z-index: 1;
}
.items p{
    margin: 0px;
    line-height: 1.8;
}
.seven h2{
    font-size: 1cm;
    text-align: start;
    margin: 0px;
    margin-bottom: 15px;
}
.lp{
    margin-top: 40px;
}
.btns{
    display: flex;
    flex-direction: column;
    margin-top: 2.4cm;
    /* margin-left: 135px; */
    /* margin-left: 8cm; */
    margin-right: 80px;
    min-width: 225px;
    max-width: 6cm;
    white-space: nowrap;
    align-self: center;
    place-self: center;
    z-index: 1;
    /* position: relative; */

}
.btns a{
    margin-top: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    cursor: pointer;
    /* z-index: 1; */
}
.aa{
    /* margin-left: 290px; */
}
.flogo, .fnavi{
    margin-top: 100px;
    border-top: 1px solid antiquewhite;
    padding-top: 40px;
    padding-bottom: 45px;
}
.fnavi{
    margin-top: 100px;
    margin-right: 70px;
    padding-top: 68px;
    padding-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: end;
    align-content: center;
}
.fnavi a{
    text-decoration: none;
    /* padding-right: 60px; */
    /* padding-top: 30px; */
    color: black;
    white-space: nowrap;
    cursor: pointer;
}
.fnavi a:hover{
    cursor: pointer;
}
.Bimage{
    position: absolute;
    right: 210px;
    top: 58px;
    /* left: 32cm; */
    width: 141px;
}
.Timage{
    position: absolute;
    width: 180px;
    right: 42px;
    top: -88px;
    /* left: 27cm; */
}
.Kimage{
    position: absolute;
    width: 190px;
    right: 2px;
    top: 79px;
    /* left: 30cm; */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {/* HEADER STATS */
    *{
        box-sizing: border-box;
    }
    
    body {
        background-color: #f7fcfc;
        margin: 0%;
        font-family: Arial, Helvetica, sans-serif;
        position: relative;
        background-color: white;
    }
    .bleachImg{
        position: absolute;
        width: 431px;
        top: 172px;
        right: 150px;
        /* left: 890px; */
        /* left: 22cm; */
    }
    img{
        width: 100px;
    }
    .header-part{
        width: 100%;
        display: flex;
        /* grid-template-columns: auto 450px; */
    }
    .itemBox{
        margin-left: 77px;
        width: 65%;
        height: 950px;
        position: relative;
    }
    .logo-nav{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        justify-content: space-between;
        padding-top: 40px;
        /* align-self: center; */
    }
    .logo, .flogo{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        /* padding-left: 105px; */
    }
    
    .navi{
       display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        /* gap: 75px; */
        /* padding-right: 65px; */
       /* flex-direction: row; */
        white-space: nowrap;
        /* position: absolute; */
        /* left: 522px; */
    }
    .navi a{
        text-decoration: none;
        /* padding-right: 60px; */
        padding-top: 30px;
        color: black;
        cursor: pointer;
    }
    
    .btnfsin{
        background-color: #1d085e;
        width: 35%;
        /* padding: 20px; */
        padding-top: 51px;
        display: flex;
        justify-content: space-around;
    }
    .items{
        /* margin-left: 10px;; */
        margin-top: 100px;
        /* padding-left: 107px; */
    }
    .para{
        padding-top: 1.5cm;
        margin: 0%;
    }
    .para p{
        margin: 0%;
        padding-bottom: 7px;
    }
    h1{
        font-size: 4em;
        margin: 0%;
        margin-bottom: 10px;
    }
    .psep{
        margin-top: 100px;
    }
    .psep p{
        margin-top: 10px;
        color: #d4d4d4;
    }
    .findh{
        margin-top: 30px;
        background-color: #ff6524;
        border: none;
        border-radius: 35px;
        text-align: center;
        padding: 23px 40px;
        color: white;
        font-weight: bolder;
        font-size: 1rem;
        cursor: pointer;
    }
    button{
        /* border: none;
        border-radius: 35px;
        text-align: center;
        padding: 23px 45px;
        color: white;
        font-weight: bolder;
        font-size: 1.3rem; */
    }
    .sinup:hover,.sinin:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
    .sinup{
        /* margin-left: 30px; */
    }
    /* .sinin:hover{
        background-color: white;
        color: black;
    } */
    .sinup, .sinin{
        width: 120px;
        border: 2px solid whitesmoke;
        border-radius: 40px;
        text-align: center;
        /* padding: 15px 40px; */
        background-color: #1d085e;
        color: white;
        font-weight: bolder;
        /* min-width: 140px; */
        max-height: 51px;
        cursor: pointer;
        
    }
    /* HEADER ENDS */
    /* 2ND PART */
    .secondPart{
        margin-top: 4.5cm;
        text-align: center;
    }
    h2, .sec, .explore{
        text-align: center;
    }
    h2{
        font-size: 2.2rem;
    }
    .secondPart{
        font-size: 1.2rem;
    }
    .sec-card{
        display: grid;
        grid-template-columns: repeat(3,322px);
        justify-content: center;
        /* margin-right: 80px;
        margin-left: 80px; */
        gap: 10px;
        margin-top: 2.5cm;
        /* padding-right: 160px; */
        /* padding-left: 160px; */
    }
    .profile{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .card h3{
        text-align: start;
        padding-left: 30px;
    }
    .card p{
        line-height: 1.6;
        font-size: 1rem;
        font-weight: lighter;
        text-align: start;
    }
    .card{
        /* height: 6.5cm; */
        border: 1px solid whitesmoke;
        border-radius: 2px;
        padding: 20px;
        box-shadow: 2px 3px 16px 2px whitesmoke;
        /* max-height: 245px; */
        /* min-width: 390px; */
    }
    .explore{
        margin-top: 2cm;
        font-weight: bold;
        box-shadow: whitesmoke;
    }
    .explore a {
        text-decoration: none;
        color: black;
    }
    /* 2ND PART ENDS */
    /* 3RD PART STARTS */
    .third{
        margin-right: 80px;
        margin-left: 80px;
        margin-top: 4cm;
        /* padding-left: 175px; */
    }
    .btnC{
        border: none;
        background-color: dimgrey;
        border-radius: 10px;
        padding: 5px;
        width: 1.5cm;
        background-color: blue;
        cursor: pointer;
    }
    .btnD{
        border: none;
        border-radius: 100%;
        padding: 5px;
        background-color: blue;
        cursor: pointer;
    }
    .chooseH{
        /* width: 11cm; */
        place-self: end;
        align-self: start;
    
    }
    .chooseH h2{
        text-align: start;
    }
    .chooseH p{
        line-height: 1.6;
    }
    .btnH{
        margin-top: 30px;
        background-color: #ff6524;
        border: none;
        border-radius: 35px;
        text-align: center;
        /* padding: 23px 45px; */
        color: white;
        font-weight: bolder;
        /* font-size: 1.3rem; */
        white-space: nowrap;
        width: 193px;
        height: 60px;
        cursor: pointer;
    }
    .btnH:hover{
        cursor: pointer;
    }
    .hobiteam{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    
    }
    .addHobby{
        margin-left: 185px;
        margin-right: 200px;
    }
    .limages{
        display: grid;
        grid-template-columns: auto auto;
    }
    .second-image{
        display: flex;
        flex-direction: column;
        /* margin-right: 160px; */
        /* padding-right: 170px; */
    }
    .img1{
        width: 220px;
        height: 400px;
        border-radius: 10px;
    }
    .img2, .addBtn{
        width: 240px;
        height: 188px;
        border-radius: 10px;
    }
    .img3{
        margin-top: 0.5cm;
       
    }
    .addBtn{
        padding: 15px 30px 10px;
        width: 236px;
        border: 2px dashed silver;
        border-radius: 20px;
        background-color: whitesmoke;
    }
    .addBtn p{
        color: silver;
        font-size: initial;
    }
    .img4{
       width: 475px;
       height: 110px;
       border-radius: 10px;
       margin-top: 5px;
    }
    
    .fourthPart{
        
        /* margin: 50px 160px 140px; */
        margin-left: 39px;
        /* padding-top: 55px; */
        /* padding-bottom: 55px; */
        margin-right: 160px;
        margin-bottom: 130px;
        margin-top: 50px;
        width: fit-content;
    }
    .four{
        display: grid;
        grid-template-columns: 50px auto 50px; 
        border: 1px solid whitesmoke;
        justify-content: center;
        justify-items: center;
        background-color: #f7f9fb;
        padding-top: 30px;
        padding-bottom: 30px;
        /* margin-left: 140px;
        margin-right: 128px; */
    }
    .btnL{
        border: none;
        font-size: 2rem;
        color: blue;
        background-color: #f7f9fb;
        font-weight: bolder;
        font-size: 2rem;
        cursor: pointer;
        /* padding-left: 212px; */
    }
    .inCard{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        /* flex-direction: row; */
        /* margin-left: 80px; */
    }
    .inCard img{
        width: 250px;
        height: 159px;
        /* margin-right: 1cm; */
        border-radius: 27px;
    }
    .btnR{
        border: none;
        font-size: 2rem;
        color: blue;
        background-color: #f7f9fb;
        font-weight: bolder;
        font-size: 2rem;
        padding-left: 0%;
        cursor: pointer;
        /* padding-right: 94px; */
    }
    .btnL,.btnR:hover{
        cursor: pointer;
    }
    .fiveSect{
        background-color: #464CDF;
        /* padding: 150px; */
        width: 100%;
        padding-top: 55px;
        padding-left: 165px;
        padding-bottom: 105px;
        /* max-height: 800px; */
        box-sizing: border-box; 
        position: relative; 
    }
    .fiveSect h2{
        text-align: start;
        margin-bottom: 1.3cm;
        color: white;
        white-space: nowrap;
    }
    .fifth{
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        align-content: center;
        border: 1px solid white;
        border-radius: 30px;
        margin-right: 254px;
        height: 343px;
        margin-top: 50px;
        padding-top: 67px;
        padding-bottom: 38px;
        position: relative;
        /* min-width: 1113px; */
    }
    .fifth img{
        width: 48%;
        height: 343px;
        position: absolute;
        top: -1px;
        left: -1px;
        border-radius: 30px;
    }
    .abimg{
        /* padding-left: 15cm;
        padding-right: 2cm;
        padding-bottom: 40px; */
    }
    .abimg h2{
        margin: 0px;
        font-size: 3em;
        /* padding-top: 40px; */
        color: #8e95e8;
    }
    .abimg p{
        color: #e2e4f9;
        line-height: 1.8;
        font-size: 1.2rem;
        margin-top: 0px;
        margin-bottom: 29px;
    }
    /* PART 6 */
    .six{
        /* padding: 3cm 4cm 3cm; */
        position: relative;
        background-color: #ffffff;
        margin-top: 152px;
        margin-left: 160px;
        margin-right: 160px;
    }
    .six h2{
        text-align: left;
        white-space: nowrap;
    }
    .six p {
        white-space: nowrap;
        line-height: 1.6;
    }
    .ru-box {
        padding-top: 60px;
    }
    
    .recent-bike {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 25px;
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
    }
    
    .recent-card {
        /* height: 372px; */
        text-align: center;	
        width: 100%;
        box-shadow: 3px 3px 32px 15px whitesmoke;
    }
    
    .recent-bike-img {
        width: 100%;
        height:150px;
        object-fit: scale-down;
    }
    .Idetails{
        text-align: start;
        padding-left: 20px;
    }
    .Idetails p {
        white-space: normal;
    }
    .exploreH{
        text-align: center;
        margin-top: 70px;
        margin-bottom: 115px;
    
    }
    .exploreH a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        cursor: pointer;        
    }
    
    .seven{
        display: grid;
        grid-template-columns: 10cm auto;
        /* padding: 1cm 4cm 3cm; */
        padding-bottom: 0px;
        padding-left: 150px;
        background-color: #f5faff;
        position: relative;
        z-index: 1;
    }
    .items p{
        margin: 0px;
        line-height: 1.8;
    }
    .seven h2{
        font-size: 1cm;
        text-align: start;
        margin: 0px;
        margin-bottom: 15px;
    }
    .lp{
        margin-top: 40px;
    }
    .btns{
        display: flex;
        flex-direction: column;
        margin-top: 2.4cm;
        /* margin-left: 135px; */
        /* margin-left: 8cm; */
        margin-right: 80px;
        min-width: 225px;
        max-width: 6cm;
        white-space: nowrap;
        align-self: center;
        place-self: center;
        z-index: 1;
        /* position: relative; */
    
    }
    .btns a{
        margin-top: 50px;
        text-align: center;
        color: black;
        font-weight: bold;
        cursor: pointer;
        /* z-index: 1; */
    }
    .aa{
        /* margin-left: 290px; */
    }
    .flogo, .fnavi{
        margin-top: 100px;
        border-top: 1px solid antiquewhite;
        padding-top: 40px;
        padding-bottom: 45px;
    }
    .fnavi{
        margin-top: 100px;
        margin-right: 70px;
        padding-top: 68px;
        padding-bottom: 63px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: end;
        align-content: center;
    }
    .fnavi a{
        text-decoration: none;
        /* padding-right: 60px; */
        /* padding-top: 30px; */
        color: black;
        white-space: nowrap;
        cursor: pointer;
    }
    .fnavi a:hover{
        cursor: pointer;
    }
    .Bimage{
        position: absolute;
        right: 210px;
        top: 58px;
        /* left: 32cm; */
        width: 141px;
    }
    .Timage{
        position: absolute;
        width: 180px;
        right: 42px;
        top: -88px;
        /* left: 27cm; */
    }
    .Kimage{
        position: absolute;
        width: 190px;
        right: 2px;
        top: 79px;
        /* left: 30cm; */
    }}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* HEADER STATS */
*{
    box-sizing: border-box;
}

body {
    background-color: #f7fcfc;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    background-color: white;
}
.bleachImg{
    position: absolute;
    width: 431px;
    top: 172px;
    right: 310px;
    /* left: 890px; */
    /* left: 22cm; */
}
img{
    width: 100px;
}
.header-part{
    width: 100%;
    display: flex;
    /* grid-template-columns: auto 450px; */
}
.itemBox{
    margin-left: 77px;
    width: 65%;
    height: 950px;
    position: relative;
}
.logo-nav{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: space-between;
    padding-top: 40px;
    /* align-self: center; */
}
.logo, .flogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-left: 105px; */
}
.logo,.navi a:hover{
    cursor: pointer;
}

.navi{
   display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    /* gap: 75px; */
    /* padding-right: 65px; */
   /* flex-direction: row; */
    white-space: nowrap;
    /* position: absolute; */
    /* left: 522px; */
}
.navi a{
    text-decoration: none;
    /* padding-right: 60px; */
    padding-top: 30px;
    color: black;
    cursor: pointer;
}

.btnfsin{
    background-color: #1d085e;
    width: 35%;
    /* padding: 20px; */
    padding-top: 51px;
    display: flex;
    justify-content: space-around;
}
.items{
    /* margin-left: 10px;; */
    margin-top: 100px;
    /* padding-left: 107px; */
}
.para{
    padding-top: 1.5cm;
    margin: 0%;
}
.para p{
    margin: 0%;
    padding-bottom: 7px;
}
h1{
    font-size: 4em;
    margin: 0%;
    margin-bottom: 10px;
}
.psep{
    margin-top: 100px;
}
.psep p{
    margin-top: 10px;
    color: #d4d4d4;
}
.findh{
    margin-top: 30px;
    background-color: #ff6524;
    border: none;
    border-radius: 35px;
    text-align: center;
    padding: 23px 40px;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}
.findh:hover{
    cursor: pointer;
}
button{
    /* border: none;
    border-radius: 35px;
    text-align: center;
    padding: 23px 45px;
    color: white;
    font-weight: bolder;
    font-size: 1.3rem; */
}
.sinup:hover{
    background-color: white;
    color: black;
}
.sinup{
    /* margin-left: 30px; */
}
.sinin{
    /* margin-left: 50px;; */
}
.sinup, .sinin{
    width: 120px;
    border: 2px solid whitesmoke;
    border-radius: 40px;
    text-align: center;
    /* padding: 15px 40px; */
    background-color: #1d085e;
    color: white;
    font-weight: bolder;
    /* min-width: 140px; */
    max-height: 51px;
    cursor: pointer;
    
}
/* HEADER ENDS */
/* 2ND PART */
.secondPart{
    margin-top: 4.5cm;
    text-align: center;
}
h2, .sec, .explore{
    text-align: center;
}
h2{
    font-size: 2.2rem;
}
.secondPart{
    font-size: 1.2rem;
}
.sec-card{
    display: grid;
    grid-template-columns: repeat(3,322px);
    justify-content: center;
    /* margin-right: 80px;
    margin-left: 80px; */
    gap: 20px;
    margin-top: 2.5cm;
    /* padding-right: 160px; */
    /* padding-left: 160px; */
}
.profile{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.card h3{
    text-align: start;
    padding-left: 30px;
}
.card p{
    line-height: 1.6;
    font-size: 1rem;
    font-weight: lighter;
    text-align: start;
}
.card{
    /* height: 6.5cm; */
    border: 1px solid whitesmoke;
    border-radius: 2px;
    padding: 20px;
    box-shadow: 2px 3px 16px 2px whitesmoke;
    /* max-height: 245px; */
    /* min-width: 390px; */
}
.explore{
    margin-top: 2cm;
    font-weight: bold;
    box-shadow: whitesmoke;
}
.explore a {
    text-decoration: none;
    color: black;
}
/* 2ND PART ENDS */
/* 3RD PART STARTS */
.third{
    margin-right: 80px;
    margin-left: 80px;
    margin-top: 4cm;
    /* padding-left: 175px; */
}
.btnC{
    border: none;
    background-color: dimgrey;
    border-radius: 10px;
    padding: 5px;
    width: 1.5cm;
    background-color: blue;
    cursor: pointer;
}
.btnD{
    border: none;
    border-radius: 100%;
    padding: 5px;
    background-color: blue;
    cursor: pointer;
}
.chooseH{
    /* width: 11cm; */
    place-self: end;
    align-self: start;
    padding-left: 5px;

}
.chooseH h2{
    text-align: start;
}
.chooseH p{
    line-height: 1.6;
}
.btnH{
    margin-top: 30px;
    background-color: #ff6524;
    border: none;
    border-radius: 35px;
    text-align: center;
    /* padding: 23px 45px; */
    color: white;
    font-weight: bolder;
    /* font-size: 1.3rem; */
    white-space: nowrap;
    width: 193px;
    height: 60px;
    cursor: pointer;
}
.hobiteam{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;

}
.addHobby{
    margin-left: 185px;
    margin-right: 200px;
    cursor: pointer;
}
.limages{
    display: grid;
    grid-template-columns: auto auto;
}
.second-image{
    display: flex;
    flex-direction: column;
    /* margin-right: 160px; */
    /* padding-right: 170px; */
}
.img1{
    width: 220px;
    height: 400px;
    border-radius: 10px;
}
.img2, .addBtn{
    width: 240px;
    height: 188px;
    border-radius: 10px;
}
.img3{
    margin-top: 0.5cm;
   
}
.addBtn{
    padding: 15px 30px 10px;
    width: 236px;
    border: 2px dashed silver;
    border-radius: 20px;
    background-color: whitesmoke;
    cursor: pointer;
}
.addBtn p{
    color: silver;
    font-size: initial;
}
.img4{
   width: 475px;
   height: 110px;
   border-radius: 10px;
   margin-top: 5px;
}

.fourthPart{
    
    margin: 50px 160px 140px;
    margin-left: 75px;
    /* padding-top: 55px; */
    /* padding-bottom: 55px; */
    /* margin-right: 160px; */
    /* margin-bottom: 130px; */
}
.four{
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 877px 50px; 
    border: 1px solid whitesmoke;
    background-color: #f7f9fb;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 140px;
    margin-right: 128px;
}
.btnL{
    border: none;
    font-size: 2rem;
    color: blue;
    background-color: #f7f9fb;
    font-weight: bolder;
    font-size: 2rem;
    cursor: pointer;
    /* padding-left: 212px; */
}
.inCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    /* flex-direction: row; */
    /* margin-left: 80px; */
}
.inCard img{
    width: 250px;
    height: 159px;
    /* margin-right: 1cm; */
    border-radius: 27px;
}
.btnR{
    border: none;
    font-size: 2rem;
    color: blue;
    background-color: #f7f9fb;
    font-weight: bolder;
    font-size: 2rem;
    padding-left: 0%;
    cursor: pointer;
    /* padding-right: 94px; */
}
.btnR,.btnL:hover{
    cursor: pointer;
}
.fiveSect{
    background-color: #464CDF;
    /* padding: 150px; */
    width: 100%;
    padding-top: 55px;
    padding-left: 165px;
    padding-bottom: 105px;
    /* max-height: 800px; */
    box-sizing: border-box; 
    position: relative; 
}
.fiveSect h2{
    text-align: start;
    margin-bottom: 1.3cm;
    color: white;
    white-space: nowrap;
}
.fifth{
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-content: center;
    border: 1px solid white;
    border-radius: 30px;
    margin-right: 254px;
    height: 343px;
    margin-top: 50px;
    padding-top: 67px;
    padding-bottom: 38px;
    position: relative;
    /* min-width: 1113px; */
}
.fifth img{
    width: 48%;
    height: 343px;
    position: absolute;
    top: -1px;
    left: -1px;
    border-radius: 30px;
}
.abimg{
    /* padding-left: 15cm;
    padding-right: 2cm;
    padding-bottom: 40px; */
}
.abimg h2{
    margin: 0px;
    font-size: 3em;
    /* padding-top: 40px; */
    color: #8e95e8;
}
.abimg p{
    color: #e2e4f9;
    line-height: 1.8;
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 29px;
}
/* PART 6 */
.six{
    /* padding: 3cm 4cm 3cm; */
    position: relative;
    background-color: #ffffff;
    margin-top: 152px;
    margin-left: 160px;
    margin-right: 160px;
}
.six h2{
    text-align: left;
    white-space: nowrap;
}
.six p {
    white-space: nowrap;
    line-height: 1.6;
}
.ru-box {
    padding-top: 60px;
}

.recent-bike {
	display: grid;
	grid-template-columns: repeat(4,1fr);
    grid-gap: 25px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.recent-card {
	/* height: 372px; */
    text-align: center;	
    width: 100%;
    box-shadow: 3px 3px 32px 15px whitesmoke;
}

.recent-bike-img {
    width: 100%;
	height:150px;
	object-fit: scale-down;
}
.Idetails{
    text-align: start;
    padding-left: 20px;
}
.Idetails p {
    white-space: normal;
}
.exploreH{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 115px;

}
.exploreH a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.seven{
    display: grid;
    grid-template-columns: 10cm auto;
    /* padding: 1cm 4cm 3cm; */
    padding-bottom: 0px;
    padding-left: 150px;
    background-color: #f5faff;
    /* position: relative; */
}
.items p{
    margin: 0px;
    line-height: 1.8;
}
.seven h2{
    font-size: 1cm;
    text-align: start;
    margin: 0px;
    margin-bottom: 15px;
}
.lp{
    margin-top: 40px;
}
.btns{
    display: flex;
    flex-direction: column;
    margin-top: 2.4cm;
    /* margin-left: 135px; */
    /* margin-left: 8cm; */
    margin-right: 90px;
    min-width: 225px;
    max-width: 6cm;
    white-space: nowrap;
    align-self: center;
    place-self: center;
    z-index: 1;
    position: relative;

}
.btns a{
    margin-top: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
}
.aa{
    /* margin-left: 290px; */
    cursor: pointer;
}
.flogo, .fnavi{
    margin-top: 100px;
    border-top: 1px solid antiquewhite;
    padding-top: 40px;
    padding-bottom: 45px;
}
.fnavi{
    margin-top: 100px;
    margin-right: 70px;
    padding-top: 68px;
    padding-bottom: 63px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: end;
    align-content: center;
}
.fnavi a{
    text-decoration: none;
    /* padding-right: 60px; */
    /* padding-top: 30px; */
    color: black;
    white-space: nowrap;
    cursor: pointer;
}
.fnavi a:hover{
    cursor: pointer;
}
.Bimage{
    position: absolute;
    right: 210px;
    top: 58px;
    /* left: 32cm; */
    width: 141px;
}
.Timage{
    position: absolute;
    width: 180px;
    right: 140px;
    top: -88px;
    /* left: 27cm; */
}
.Kimage{
    position: absolute;
    width: 200px;
    right: 179px;
    top: 79px;
    /* left: 30cm; */
}
}